#topLevelRegion,
#sp-appBar,
#spSiteHeader,
spCommandBar,
#cbe7b0a9-3504-44dd-a3a3-0e5cacd07788,
.ag_f_ada2ac09 ah_f_ada2ac09,
#CommentsWrapper {
    display: none !important;
}

article header {
    background-color: transparent !important;
    border-bottom: none !important;
    width: calc(100% - 96px);
    transform: translateX(48px);
}

.o365sx-navbar,
.o365cs-base .o365sx-waffle,
.o365cs-base .o365sx-button {
    background-color: #202326 !important;
}

.o365cs-base .o365sx-waffle:hover {
    background-color: #202326 !important;
}

#SuiteNavPlaceholder {
    border-bottom: 1px solid #2e3033
}

.a_b_50a7110f:not(.b_b_50a7110f):not(.j_b_50a7110f),
.a_a_50a7110f:not(.b_a_50a7110f),
.a_e_50a7110f:not(.b_e_50a7110f) {
    margin: 0 !important;
    padding: 0 !important;
}

.a_b_50a7110f:not(.b_b_50a7110f) .l_b_50a7110f {
    display: flex;
    max-width: unset !important;
}

.root-79 {
    height: 100%;
    color: rgb(74, 77, 79);
    background-color: rgb(244, 244, 244);
    font-weight: 300;
    font-family: Pulso, sans-serif !important;
    margin: 0px;
}

.container-fluid.grid-content {
    padding-top: 0 !important;
}